body {
	overflow-x: hidden;
}

.divider1{
    background: #bdbdbd;
    height: 2px;
    width: 15%;
    margin: 150px auto;
    margin-top: 800px;
    margin-bottom: 75px;
}

.divider2{
    background: #bdbdbd;
    height: 2px;
    width: 15%;
    margin: 150px auto;
    margin-top: 800px;
    margin-bottom: 50px;
}

.typeface {
	position: relative;
    margin-top: 100px;
}

.movedown {
    margin-top: 250px;
    position: relative;
}

.button2{
    background: none;
    border-style: solid;
    border-color: #211f1e;
    border-width: 4.4px;
    padding: 15px 32px;
    text-align: center;
    position: relative;
    left: 41%;
}

.button2:focus {
    opacity: .3;
}

.button2:hover {
    opacity: .3;
}

.button1{
    background: none;
    border-style: solid;
    border-color: #211f1e;
    border-width: 4.4px;
    padding: 15px 32px;
    text-align: center;
    position: relative;
    left: 40%;
}

.button1:focus {
    opacity: .3;
}

.button1:hover {
    opacity: .3;
}

.buttonA{
    background: none;
    border-style: solid;
    border-color: #211f1e;
    border-width: 4.4px;
    padding: 15px 18px;
    margin-bottom: none;
    text-align: center;
    position: relative;
    left: 42.5%;
}

.buttonA:focus {
    opacity: .3;
}

.buttonA:hover {
    opacity: .3;
}

.buttonB{
    background: none;
    border-style: solid;
    border-color: #211f1e;
    border-width: 4.4px;
    padding: 15px 18px;
    margin-bottom: none;
    text-align: center;
    position: relative;
    left: 43.5%;
}

.buttonB:focus {
    opacity: .3;
}

.buttonB:hover {
    opacity: .3;
}

.buttonC{
    background: none;
    border-style: solid;
    border-color: #211f1e;
    border-width: 4.4px;
    padding: 15px 18px;
    margin-bottom: none;
    text-align: center;
    position: relative;
    left: 44.5%;
}

.buttonC:focus {
    opacity: .3;
}

.buttonC:hover {
    opacity: .3;
}


/*#grid {
    transform: scale(3);
    transform-origin: top left;
}*/


/*#grid div {
    transform: rotate(120deg);
}*/

/*[id^="grid"]{
    transform: scale(2);
    transform-origin: top left;
    opacity: 0;
    transition: 1500ms ease all;
}*/

/*[id^="grid"]:hover {
    opacity: 1;
}
*/

[id^="grid"]{
    transform: scale(.5); 
     
}



#grid32 {
    transform: scale(3);
    mix-blend-mode: multiply;  
    
}
#grid33 {
    transform: scale(3);
    mix-blend-mode: multiply;  
}
#grid34 {
    transform: scale(3);
    mix-blend-mode: multiply;   
}



#grid35 {
    transform: scale(2.3);
    mix-blend-mode: multiply;   
}
#grid36 {
    transform: scale(2.3);
    mix-blend-mode: multiply;   
}
#grid37 {
    transform: scale(2.3);
    mix-blend-mode: multiply;   
}
#grid38 {
    transform: scale(2.3);
    mix-blend-mode: multiply;   
}
#grid39 {
    transform: scale(2.3);
    mix-blend-mode: multiply;   
}
#grid40 {
    transform: scale(2.3);
    mix-blend-mode: multiply;   
}
#grid41 {
    transform: scale(2.3);
    mix-blend-mode: multiply;   
}
#grid42 {
    transform: scale(2.3);
    mix-blend-mode: multiply;   
}
#grid43 {
    transform: scale(2.3);
    mix-blend-mode: multiply;   
}
#grid44 {
    transform: scale(2.3);
    mix-blend-mode: multiply;   
}


#grid45 {
    transform: scale(1.2);
    mix-blend-mode: multiply;   
}
#grid46 {
    transform: scale(1.2);
    mix-blend-mode: multiply;   
}
#grid47 {
    transform: scale(1.2);
    mix-blend-mode: multiply;   
}
#grid48 {
    transform: scale(1.2);
    mix-blend-mode: multiply;   
}
#grid49 {
    transform: scale(1.2);
    mix-blend-mode: multiply;   
}
#grid50 {
    transform: scale(1.2);
    mix-blend-mode: multiply;   
}
#grid51 {
    transform: scale(1.2);
    mix-blend-mode: multiply;   
}
#grid52 {
    transform: scale(1.2);
    mix-blend-mode: multiply;   
}
#grid53 {
    transform: scale(1.2);
    mix-blend-mode: multiply;   
}
#grid54 {
    transform: scale(1.2);
    mix-blend-mode: multiply;   
}



.line {
    width: 16px;
    height: 4.4px;
    background: #211f1e;
    position: absolute;
}
.lineE {
    width: 16px;
    height: 1.4px;
    background: #00ffff;
    position: absolute;
}
.lineF {
    width: 16px;
    height: 4.4px;
    background: #ff00ff;
    position: absolute;
}
.lineL {
    width: 16px;
    height: 4.4px;
    background: #ffff00;
    position: absolute;
}


.square {
    width: 20px;
    height: 20px;
    background: #211f1e;
    position: absolute;
}

.squareE {
    width: 20px;
    height: 20px;
    background: #00ffff;
    position: absolute;
}
.squareF {
    width: 20px;
    height: 20px;
    background: #ff00ff;
    position: absolute;
}
.squareL {
    width: 20px;
    height: 20px;
    background: #ffff00;
    position: absolute;
}

.squareS {
    width: 20px;
    height: 20px;
    background: #ff00ff;
    position: absolute;
}
.lineS {
    width: 16px;
    height: 4.4px;
    background: #ff00ff;
    position: absolute;
}
.squareC {
    width: 20px;
    height: 20px;
    background: #00ffff;
    position: absolute;
}
.lineC {
    width: 16px;
    height: 4.4px;
    background: #00ffff;
    position: absolute;
}





@keyframes sizeLS {
  from {height: 5px; width: 5px;}
    to {height: 20px; width: 20px;}
}

.test {
  animation-name: sizeLS;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(.8,.06,.2,.90); 
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sizeLL {
  from {height: 1.4px;}
    to {height: 4.4px;}
}

.test2 {
  animation-name: sizeLL;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(.8,.06,.2,.90); 
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sizeFS {
  from {height: 20px; width: 20px;}
    to {height: 5px; width: 5px;}
}

.test3 {
  animation-name: sizeFS;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(.8,.06,.2,.90); 
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sizeFL {
  from {height: 8.4px;}
    to {height: 1.4px;}
}

.test4 {
  animation-name: sizeFL;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(.8,.06,.2,.90); 
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sizeES {
  from {height: 5px; width: 5px;}
    to {height: 20px; width: 20px;}
}

.test5 {
  animation-name: sizeES;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(.8,.06,.2,.90); 
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 3s;
}

@keyframes sizeEL {
  from {height: 1.4px;}
    to {height: 8.4px;}
}

.test6 {
  animation-name: sizeEL;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(.8,.06,.2,.90); 
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 3s;
}

@keyframes sizeEL {
  from {height: 1.4px;}
    to {height: 8.4px;}
}

.test7 {
  animation-name: sizeEL;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(.8,.06,.2,.90); 
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.test8 {
  animation-name: sizeES;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(.8,.06,.2,.90); 
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sizeEL {
  from {height: 1.4px;}
    to {height: 8.4px;}
}

.test9 {
  animation-name: movedown;
  animation-duration: 4s; 
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

@keyframes movedown {
  from {top: 75px;}
    to {top: 255px;}
}

.test10 {
  animation-name: movedownagain;
  animation-duration: 4s; 
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

@keyframes movedownagain {
  from {top: 75px;}
    to {top: 450px;}
}





#Ab1 {
    top: 1px;
    left: 48px;
}

#A1 {
    top: 33px;
    left: 34px;
}

#A2 {
    top: 33px;
    left: 65px;
}

#A3 {
    top: 47px;
    left: 19px;
}

#Ab3 {
    top: 63px;
    left: 17px;
}

#A4 {
    top: 47px;
    left: 80px;
}

#Ab4 {
    top: 63px;
    left: 78px;
}

#A5 {
    top: 79px;
    left: 3px;
}

#A6 {
    top: 79px;
    left: 35px;
}

#A7 {
    top: 79px;
    left: 50px;
}

#A8 {
    top: 79px;
    left: 65px;
}

#A9 {
    top: 79px;
    left: 97px;
}

#A11 {
    top: 94px;
    left: 3px;
}

#Ab11 {
    top: 109px;
    left: 1px;
}

#A12 {
    top: 94px;
    left: 96px;
}

#Ab12 {
    top: 109px;
    left: 95px;
}


#grid {
    width: 130px;
    height: 130px;
    top: 15px;
    left: 15px;
    position: absolute;
   /* background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}

#grid2 {
    width: 130px;
    height: 130px;
    top: 15px;
    left: 165px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}

#Ab13 {
    top: 1px;
    left: 1px;
}

#Ab14 {
    top: 109px;
    left: 1px;
}

#Ab15 {
    top: 47px;
    left: 64px;
}

#A13 {
    top: 33px;
    left: 3px;
}
#A14 {
    top: 47px;
    left: 3px;
}
#A15 {
    top: 63px;
    left: 3px;
}
#A16 {
    top: 79px;
    left: 3px;
}
#A17 {
    top: 94px;
    left: 3px;
}
#A18 {
    top: 1px;
    left: 20px;
}
#A19 {
    top: 1px;
    left: 35px;
}
#A20 {
    top: 1px;
    left: 50px;
}
#A21 {
    top: 1px;
    left: 65px;
}
#A22 {
    top: 17px;
    left: 80px;
}
#A23 {
    top: 33px;
    left: 96px;
}
#A24 {
    top: 47px;
    left: 96px;
}
#A25 {
    top: 63px;
    left: 80px;
}
#A26 {
    top: 79px;
    left: 96px;
}
#A27 {
    top: 94px;
    left: 96px;
}
#A28 {
    top: 109px;
    left: 80px;
}
#A29 {
    top: 125px;
    left: 20px;
}
#A30 {
    top: 125px;
    left: 35px;
}
#A31 {
    top: 125px;
    left: 50px;
}
#A32 {
    top: 125px;
    left: 65px;
}

#grid3 {
    width: 130px;
    height: 130px;
    top: 15px;
    left: 315px;
    position: absolute;
    
}


#Ab33 {
    top: 1px;
    left: 95px;
}
#Ab34 {
    top: 109px;
    left: 95px;
}
#A33 {
    top: 33px;
    left: 3px;
}
#A34 {
    top: 47px;
    left: 3px;
}
#A35 {
    top: 63px;
    left: 3px;
}
#A36 {
    top: 79px;
    left: 3px;
}
#A37 {
    top: 94px;
    left: 3px;
}
#A38 {
    top: 17px;
    left: 19px;
}
#A39 {
    top: 1px;
    left: 34px;
}
#A40 {
    top: 1px;
    left: 50px;
}
#A41 {
    top: 1px;
    left: 65px;
}
#A42 {
    top: 1px;
    left: 80px;
}
#A43 {
    top: 125px;
    left: 34px;
}
#A44 {
    top: 125px;
    left: 50px;
}
#A45 {
    top: 125px;
    left: 65px;
}
#A46 {
    top: 125px;
    left: 80px;
}
#A47 {
    top: 110px;
    left: 19px;
}


#grid4 {
    width: 130px;
    height: 130px;
    top: 15px;
    left: 465px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab35 {
    top: 1px;
    left: 1px;
}

#Ab36 {
    top: 109px;
    left: 1px;

}
#A48 {
    top: 33px;
    left: 3px;
}
#A49 {
    top: 47px;
    left: 3px;
}
#A50 {
    top: 63px;
    left: 3px;
}
#A51 {
    top: 79px;
    left: 3px;
}
#A52 {
    top: 94px;
    left: 3px;
}
#A53 {
    top: 1px;
    left: 20px;
}
#A54 {
    top: 1px;
    left: 35px;
}
#A55 {
    top: 1px;
    left: 50px;
}
#A56 {
    top: 1px;
    left: 65px;
}
#A58 {
    top: 17px;
    left: 80px;
}
#A59 {
    top: 33px;
    left: 96px;
}
#A60 {
    top: 47px;
    left: 96px;
}
#A61 {
    top: 63px;
    left: 96px;
}
#A62 {
    top: 79px;
    left: 96px;
}
#A63 {
    top: 94px;
    left: 96px;
}
#A64 {
    top: 109px;
    left: 80px;
}
#A65 {
    top: 125px;
    left: 20px;
}
#A66 {
    top: 125px;
    left: 35px;
}
#A67 {
    top: 125px;
    left: 50px;
}
#A68 {
    top: 125px;
    left: 65px;
}


#grid5 {
    width: 130px;
    height: 130px;
    top: 15px;
    left: 615px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab37 {
    top: 1px;
    left: 1px;
}

#Ab38 {
    top: 109px;
    left: 1px;
}
#Ab39 {
    top: 1px;
    left: 95px;
}
#Ab40 {
    top: 109px;
    left: 95px;
}
#Ab41 {
    top: 47px;
    left: 1px;
}
#Ab42 {
    top: 47px;
    left: 79px;
}
#A69 {
    top: 33px;
    left: 3px;
}
#A70 {
    top: 79px;
    left: 3px;
}
#A71 {
    top: 94px;
    left: 3px;
}
#A72 {
    top: 1px;
    left: 20px;
}
#A73 {
    top: 1px;
    left: 34px;
}
#A74 {
    top: 1px;
    left: 50px;
}
#A75 {
    top: 1px;
    left: 65px;
}
#A76 {
    top: 1px;
    left: 80px;
}
#A77 {
    top: 125px;
    left: 20px;
}
#A78 {
    top: 125px;
    left: 35px;
}
#A79 {
    top: 125px;
    left: 50px;
}
#A80 {
    top: 125px;
    left: 65px;
}
#A81 {
    top: 63px;
    left: 20px;
}
#A82 {
    top: 63px;
    left: 35px;
}
#A83 {
    top: 63px;
    left: 50px;
}
#A84 {
    top: 63px;
    left: 65px;
}
#A85 {
    top: 125px;
    left: 80px;
}

#grid6 {
    width: 130px;
    height: 130px;
    top: 15px;
    left: 765px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}

#Ab43 {
    top: 1px;
    left: 1px;
}

#Ab44 {
    top: 109px;
    left: 1px;
}
#Ab45 {
    top: 1px;
    left: 95px;
}
#Ab46 {
    top: 47px;
    left: 1px;
}
#Ab47 {
    top: 47px;
    left: 79px;
}
#A86 {
    top: 33px;
    left: 3px;
}
#A87 {
    top: 79px;
    left: 3px;
}
#A88 {
    top: 94px;
    left: 3px;
}
#A89 {
    top: 1px;
    left: 20px;
}
#A90 {
    top: 1px;
    left: 34px;
}
#A91 {
    top: 1px;
    left: 50px;
}
#A92 {
    top: 1px;
    left: 65px;
}
#A93 {
    top: 1px;
    left: 80px;
}
#A94 {
    top: 63px;
    left: 20px;
}
#A95 {
    top: 63px;
    left: 35px;
}
#A96 {
    top: 63px;
    left: 50px;
}
#A97 {
    top: 63px;
    left: 65px;
}


#grid7 {
    width: 130px;
    height: 130px;
    top: 15px;
    left: 915px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab48 {
    top: 17px;
    left: 95px;
}
#Ab49 {
    top: 63px;
    left: 95px;
}
#Ab50 {
    top: 63px;
    left: 62px;
}
#A98 {
    top: 33px;
    left: 3px;
}
#A99 {
    top: 47px;
    left: 3px;
}
#A100 {
    top: 63px;
    left: 3px;
}
#A101 {
    top: 79px;
    left: 3px;
}
#A102 {
    top: 94px;
    left: 3px;
}
#A103 {
    top: 17px;
    left: 19px;
}
#A104 {
    top: 1px;
    left: 34px;
}
#A105 {
    top: 1px;
    left: 50px;
}
#A106 {
    top: 1px;
    left: 65px;
}
#A107 {
    top: 1px;
    left: 80px;
}
#A108 {
    top: 125px;
    left: 34px;
}
#A109 {
    top: 125px;
    left: 50px;
}
#A110 {
    top: 125px;
    left: 65px;
}
#A111 {
    top: 125px;
    left: 80px;
}
#A112 {
    top: 110px;
    left: 19px;
}
#A113 {
    top: 110px;
    left: 96px;
}
#A114 {
    top: 94px;
    left: 96px;
}
#A115 {
    top: 79px;
    left: 80px;
}

#grid8 {
    width: 130px;
    height: 130px;
    top: 15px;
    left: 1065px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab51 {
    top: 1px;
    left: 1px;
}

#Ab52 {
    top: 109px;
    left: 1px;
}
#Ab53 {
    top: 47px;
    left: 1px;
}
#Ab54 {
    top: 1px;
    left: 95px;
}
#Ab55 {
    top: 47px;
    left: 95px;
}
#Ab56 {
    top: 109px;
    left: 95px;
}
#A116 {
    top: 33px;
    left: 3px;
}
#A117 {
    top: 79px;
    left: 3px;
}
#A118 {
    top: 94px;
    left: 3px;
}
#A119 {
    top: 33px;
    left: 96px;
}
#A120 {
    top: 79px;
    left: 96px;
}
#A121 {
    top: 94px;
    left: 96px;
}
#A122 {
    top: 63px;
    left: 20px;
}
#A123 {
    top: 63px;
    left: 35px;
}
#A124 {
    top: 63px;
    left: 50px;
}
#A125 {
    top: 63px;
    left: 65px;
}
#A126 {
    top: 63px;
    left: 80px;
}

#grid9 {
    width: 130px;
    height: 130px;
    top: 165px;
    left: 15px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}

#Ab57 {
    top: 1px;
    left: 1px;
}

#Ab58 {
    top: 109px;
    left: 1px;
}
#Ab59 {
    top: 1px;
    left: 95px;
}
#Ab60 {
    top: 109px;
    left: 95px;
}
#Ab61 {
    top: 1px;
    left: 48px;
}
#Ab62 {
    top: 109px;
    left: 48px;
}
#A127 {
    top: 33px;
    left: 50px;
}
#A128 {
    top: 47px;
    left: 50px;
}
#A129 {
    top: 63px;
    left: 50px;
}
#A130 {
    top: 79px;
    left: 50px;
}
#A131 {
    top: 94px;
    left: 50px;
}
#A132 {
    top: 1px;
    left: 20px;
}
#A133 {
    top: 1px;
    left: 34px;
}
#A134 {
    top: 1px;
    left: 65px;
}
#A135 {
    top: 1px;
    left: 80px;
}
#A136 {
    top: 125px;
    left: 20px;
}
#A137 {
    top: 125px;
    left: 35px;
}
#A138 {
    top: 125px;
    left: 65px;
}
#A139 {
    top: 125px;
    left: 80px;
}

#grid10 {
    width: 130px;
    height: 130px;
    top: 165px;
    left: 165px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab63 {
    top: 1px;
    left: 1px;
}
#Ab64 {
    top: 1px;
    left: 95px;
}
#Ab65 {
    top: 1px;
    left: 63px;
}
#Ab66 {
    top: 63px;
    left: 1px;
}
#A140 {
    top: 1px;
    left: 20px;
}
#A141 {
    top: 1px;
    left: 34px;
}
#A142 {
    top: 1px;
    left: 50px;
}
#A143 {
    top: 1px;
    left: 80px;
}
#A144 {
    top: 33px;
    left: 65px;
}
#A145 {
    top: 47px;
    left: 65px;
}
#A146 {
    top: 63px;
    left: 65px;
}
#A147 {
    top: 79px;
    left: 65px;
}
#A148 {
    top: 94px;
    left: 65px;
}
#A149 {
    top: 125px;
    left: 20px;
}
#A150 {
    top: 125px;
    left: 35px;
}
#A151 {
    top: 125px;
    left: 50px;
}
#A152 {
    top: 109px;
    left: 65px;
}
#A153 {
    top: 109px;
    left: 3px;
}
#A154 {
    top: 94px;
    left: 3px;
}

#grid11 {
    width: 130px;
    height: 130px;
    top: 165px;
    left: 315px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab67 {
    top: 1px;
    left: 1px;
}

#Ab68 {
    top: 109px;
    left: 1px;
}
#Ab69 {
    top: 47px;
    left: 1px;
}
#Ab70 {
    top: 1px;
    left: 95px;
}
#Ab71 {
    top: 109px;
    left: 95px;
}
#A155 {
    top: 33px;
    left: 3px;
}
#A156 {
    top: 79px;
    left: 3px;
}
#A157 {
    top: 94px;
    left: 3px;
}
#A158 {
    top: 63px;
    left: 20px;
}
#A159{
    top: 47px;
    left: 34px;
}
#A160{
    top: 47px;
    left: 50px;
}
#A161{
    top: 33px;
    left: 65px;
}
#A162{
    top: 33px;
    left: 80px;
}
#A163{
    top: 79px;
    left: 34px;
}
#A164{
    top: 79px;
    left: 50px;
}
#A165{
    top: 94px;
    left: 65px;
}
#A166{
    top: 94px;
    left: 80px;
}

#grid12 {
    width: 130px;
    height: 130px;
    top: 165px;
    left: 465px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab72 {
    top: 1px;
    left: 1px;
}

#Ab73 {
    top: 109px;
    left: 1px;
}
#Ab74 {
    top: 109px;
    left: 95px;
}
#A167 {
    top: 33px;
    left: 3px;
}
#A168 {
    top: 47px;
    left: 3px;
}
#A169 {
    top: 63px;
    left: 3px;
}
#A170 {
    top: 79px;
    left: 3px;
}
#A171 {
    top: 94px;
    left: 3px;
}
#A172 {
    top: 125px;
    left: 20px;
}
#A173 {
    top: 125px;
    left: 35px;
}
#A174 {
    top: 125px;
    left: 50px;
}
#A175 {
    top: 125px;
    left: 65px;
}
#A176 {
    top: 125px;
    left: 80px;
}

#grid13 {
    width: 130px;
    height: 130px;
    top: 165px;
    left: 615px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab75 {
    top: 1px;
    left: 1px;
}

#Ab76 {
    top: 109px;
    left: 1px;
}
#Ab77 {
    top: 47px;
    left: 48px;
}
#Ab78 {
    top: 1px;
    left: 95px;
}
#Ab79 {
    top: 109px;
    left: 95px;
}
#A177 {
    top: 33px;
    left: 3px;
}
#A178 {
    top: 47px;
    left: 3px;
}
#A179 {
    top: 63px;
    left: 3px;
}
#A180 {
    top: 79px;
    left: 3px;
}
#A181 {
    top: 94px;
    left: 3px;
}
#A182 {
    top: 17px;
    left: 20px;
}
#A183 {
    top: 33px;
    left: 34px;
}
#A184 {
    top: 33px;
    left: 65px;
}
#A185 {
    top: 17px;
    left: 80px;
}
#A186 {
    top: 33px;
    left: 96px;
}
#A187 {
    top: 47px;
    left: 96px;
}
#A188 {
    top: 63px;
    left: 96px;
}
#A189 {
    top: 79px;
    left: 96px;
}
#A190 {
    top: 94px;
    left: 96px;
}


#grid14 {
    width: 130px;
    height: 130px;
    top: 165px;
    left: 765px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab80 {
    top: 1px;
    left: 1px;
}
#Ab81 {
    top: 109px;
    left: 1px;
}
#Ab82 {
    top: 1px;
    left: 95px;
}
#Ab83 {
    top: 109px;
    left: 95px;
}
#A191 {
    top: 33px;
    left: 3px;
}
#A192 {
    top: 47px;
    left: 3px;
}
#A193 {
    top: 63px;
    left: 3px;
}
#A194 {
    top: 79px;
    left: 3px;
}
#A195 {
    top: 94px;
    left: 3px;
}
#A196 {
    top: 33px;
    left: 96px;
}
#A197 {
    top: 47px;
    left: 96px;
}
#A198 {
    top: 63px;
    left: 96px;
}
#A199 {
    top: 79px;
    left: 96px;
}
#A200 {
    top: 94px;
    left: 96px;
}
#A201 {
    top: 33px;
    left: 19px;
}
#A202 {
    top: 47px;
    left: 35px;
}
#A203 {
    top: 63px;
    left: 50px;
}
#A204 {
    top: 79px;
    left: 65px;
}
#A205 {
    top: 94px;
    left: 80px;
}

#grid15 {
    width: 130px;
    height: 130px;
    top: 165px;
    left: 915px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab84 {
    top: 1px;
    left: 16px;
}
#A206 {
    top: 33px;
    left: 3px;
}
#A207 {
    top: 47px;
    left: 3px;
}
#A208 {
    top: 63px;
    left: 3px;
}
#A209 {
    top: 79px;
    left: 3px;
}
#A210 {
    top: 94px;
    left: 3px;
}
#A211 {
    top: 33px;
    left: 96px;
}
#A212 {
    top: 47px;
    left: 96px;
}
#A213 {
    top: 63px;
    left: 96px;
}
#A214 {
    top: 79px;
    left: 96px;
}
#A215 {
    top: 94px;
    left: 96px;
}
#A216 {
    top: 94px;
    left: 3px;
}
#A217 {
    top: 125px;
    left: 20px;
}
#A218 {
    top: 125px;
    left: 35px;
}
#A219 {
    top: 125px;
    left: 50px;
}
#A220 {
    top: 125px;
    left: 65px;
}
#A221 {
    top: 125px;
    left: 80px;
}
#A222 {
    top: 109px;
    left: 96px;
}
#A223 {
    top: 109px;
    left: 3px;
}
#A224 {
    top: 17px;
    left: 96px;
}
#A225 {
    top: 1px;
    left: 34px;
}
#A226 {
    top: 1px;
    left: 50px;
}
#A227 {
    top: 1px;
    left: 65px;
}
#A228 {
    top: 1px;
    left: 80px;
}

#grid16 {
    width: 130px;
    height: 130px;
    top: 165px;
    left: 1065px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab85 {
    top: 1px;
    left: 1px;
}

#Ab86 {
    top: 109px;
    left: 1px;
}
#Ab87 {
    top: 47px;
    left: 1px;
}
#A229 {
    top: 33px;
    left: 3px;
}
#A230 {
    top: 79px;
    left: 3px;
}
#A231 {
    top: 94px;
    left: 3px;
}
#A232 {
    top: 1px;
    left: 20px;
}
#A233 {
    top: 1px;
    left: 34px;
}
#A234 {
    top: 1px;
    left: 50px;
}
#A235 {
    top: 1px;
    left: 65px;
}
#A236 {
    top: 17px;
    left: 80px;
}
#A237 {
    top: 33px;
    left: 96px;
}
#A238 {
    top: 47px;
    left: 96px;
}
#A239 {
    top: 63px;
    left: 80px;
}
#A240 {
    top: 79px;
    left: 34px;
}
#A241 {
    top: 79px;
    left: 50px;
}
#A242 {
    top: 79px;
    left: 65px;
}
#A243 {
    top: 63px;
    left: 20px;
}

#grid17 {
    width: 130px;
    height: 130px;
    top: 315px;
    left: 15px;
    position: absolute;
}
#Ab88 {
    top: 1px;
    left: 16px;
}
#Ab89 {
    top: 93px;
    left: 63px;
}
#A244 {
    top: 33px;
    left: 3px;
}
#A245 {
    top: 47px;
    left: 3px;
}
#A246 {
    top: 63px;
    left: 3px;
}
#A247 {
    top: 79px;
    left: 3px;
}
#A248 {
    top: 94px;
    left: 3px;
}
#A249 {
    top: 33px;
    left: 96px;
}
#A250 {
    top: 47px;
    left: 96px;
}
#A251 {
    top: 63px;
    left: 96px;
}
#A252 {
    top: 79px;
    left: 96px;
}
#A253 {
    top: 94px;
    left: 96px;
}
#A254 {
    top: 94px;
    left: 3px;
}
#A255 {
    top: 125px;
    left: 20px;
}
#A256 {
    top: 125px;
    left: 35px;
}
#A257 {
    top: 125px;
    left: 50px;
}
#A258 {
    top: 125px;
    left: 65px;
}
#A259 {
    top: 125px;
    left: 96px;
}
#A260 {
    top: 109px;
    left: 80px;
}
#A261 {
    top: 109px;
    left: 3px;
}
#A262 {
    top: 17px;
    left: 96px;
}
#A263 {
    top: 1px;
    left: 34px;
}
#A264 {
    top: 1px;
    left: 50px;
}
#A265 {
    top: 1px;
    left: 65px;
}
#A266 {
    top: 1px;
    left: 80px;
}

#grid18 {
    width: 130px;
    height: 130px;
    top: 315px;
    left: 165px;
    position: absolute;
}
#Ab90 {
    top: 1px;
    left: 1px;
}
#Ab91 {
    top: 109px;
    left: 1px;
}
#Ab92 {
    top: 47px;
    left: 1px;
}
#Ab93 {
    top: 109px;
    left: 95px;
}
#Ab94 {
    top: 63px;
    left: 63px;
}
#A267 {
    top: 33px;
    left: 3px;
}
#A268 {
    top: 79px;
    left: 3px;
}
#A269 {
    top: 94px;
    left: 3px;
}
#A270 {
    top: 1px;
    left: 20px;
}
#A271 {
    top: 1px;
    left: 34px;
}
#A272 {
    top: 1px;
    left: 50px;
}
#A273 {
    top: 1px;
    left: 65px;
}
#A274 {
    top: 17px;
    left: 80px;
}
#A275 {
    top: 33px;
    left: 96px;
}
#A276 {
    top: 47px;
    left: 96px;
}
#A277 {
    top: 63px;
    left: 80px;
}
#A278 {
    top: 79px;
    left: 34px;
}
#A279 {
    top: 79px;
    left: 50px;
}
#A280 {
    top: 79px;
    left: 65px;
}
#A281 {
    top: 63px;
    left: 20px;
}
#A282 {
    top: 94px;
    left: 80px;
}

#grid19 {
    width: 130px;
    height: 130px;
    top: 315px;
    left: 315px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab95 {
    top: 93px;
    left: 1px;
}
#Ab96 {
    top: 17px;
    left: 95px;
}
#A283 {
    top: 17px;
    left: 19px;
}
#A284 {
    top: 1px;
    left: 34px;
}
#A285 {
    top: 1px;
    left: 50px;
}
#A286 {
    top: 1px;
    left: 65px;
}
#A287 {
    top: 1px;
    left: 80px;
}
#A288 {
    top: 33px;
    left: 3px;
}
#A289 {
    top: 47px;
    left: 3px;
}
#A290 {
    top: 63px;
    left: 20px;
}
#A291 {
    top: 63px;
    left: 35px;
}
#A292 {
    top: 63px;
    left: 50px;
}
#A293 {
    top: 63px;
    left: 65px;
}
#A294 {
    top: 63px;
    left: 80px;
}
#A295 {
    top: 79px;
    left: 96px;
}
#A296 {
    top: 94px;
    left: 96px;
}
#A297 {
    top: 109px;
    left: 80px;
}
#A298 {
    top: 125px;
    left: 20px;
}
#A299 {
    top: 125px;
    left: 35px;
}
#A300 {
    top: 125px;
    left: 50px;
}
#A301 {
    top: 125px;
    left: 65px;
}

#grid20 {
    width: 130px;
    height: 130px;
    top: 315px;
    left: 465px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab97 {
    top: 1px;
    left: 1px;
}
#Ab98 {
    top: 1px;
    left: 95px;
}
#Ab99 {
    top: 1px;
    left: 48px;
}
#Ab100 {
    top: 109px;
    left: 48px;
}
#A302 {
    top: 33px;
    left: 50px;
}
#A303 {
    top: 47px;
    left: 50px;
}
#A304 {
    top: 63px;
    left: 50px;
}
#A305 {
    top: 79px;
    left: 50px;
}
#A306 {
    top: 94px;
    left: 50px;
}
#A307 {
    top: 1px;
    left: 20px;
}
#A308 {
    top: 1px;
    left: 34px;
}
#A309 {
    top: 1px;
    left: 65px;
}
#A310 {
    top: 1px;
    left: 80px;
}

#grid21 {
    width: 130px;
    height: 130px;
    top: 315px;
    left: 615px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab101 {
    top: 1px;
    left: 1px;
}
#Ab102 {
    top: 1px;
    left: 95px;
}
#A311 {
    top: 33px;
    left: 3px;
}
#A312 {
    top: 47px;
    left: 3px;
}
#A313 {
    top: 63px;
    left: 3px;
}
#A314 {
    top: 79px;
    left: 3px;
}
#A315 {
    top: 94px;
    left: 3px;
}
#A316 {
    top: 33px;
    left: 96px;
}
#A317 {
    top: 47px;
    left: 96px;
}
#A318 {
    top: 63px;
    left: 96px;
}
#A319 {
    top: 79px;
    left: 96px;
}
#A320 {
    top: 94px;
    left: 96px;
}
#A321 {
    top: 94px;
    left: 3px;
}
#A322 {
    top: 125px;
    left: 20px;
}
#A323 {
    top: 125px;
    left: 35px;
}
#A324 {
    top: 125px;
    left: 50px;
}
#A325 {
    top: 125px;
    left: 65px;
}
#A326 {
    top: 125px;
    left: 80px;
}
#A327 {
    top: 109px;
    left: 96px;
}
#A328 {
    top: 109px;
    left: 3px;
}

#grid22 {
    width: 130px;
    height: 130px;
    top: 315px;
    left: 765px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab103 {
    top: 1px;
    left: 1px;
}
#Ab104 {
    top: 1px;
    left: 95px;
}
#Ab105 {
    top: 109px;
    left: 48px;
}
#A329 {
    top: 33px;
    left: 3px;
}
#A330 {
    top: 47px;
    left: 3px;
}
#A331 {
    top: 33px;
    left: 96px;
}
#A332 {
    top: 47px;
    left: 96px;
}
#A333 {
    top: 63px;
    left: 80px;
}
#A334 {
    top: 63px;
    left: 19px;
}
#A335 {
    top: 79px;
    left: 19px;
}
#A336 {
    top: 79px;
    left: 80px;
}
#A337 {
    top: 79px;
    left: 19px;
}
#A338 {
    top: 79px;
    left: 80px;
}
#A339 {
    top: 94px;
    left: 35px;
}
#A340 {
    top: 94px;
    left: 65px;
}

#grid23 {
    width: 130px;
    height: 130px;
    top: 315px;
    left: 915px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab106 {
    top: 1px;
    left: 1px;
}
#Ab107 {
    top: 109px;
    left: 1px;
}
#Ab108 {
    top: 1px;
    left: 95px;
}
#Ab109 {
    top: 109px;
    left: 95px;
}
#Ab110 {
    top: 63px;
    left: 48px;
}
#A341 {
    top: 33px;
    left: 3px;
}
#A342 {
    top: 47px;
    left: 3px;
}
#A343 {
    top: 63px;
    left: 3px;
}
#A344 {
    top: 79px;
    left: 3px;
}
#A345 {
    top: 94px;
    left: 3px;
}
#A346 {
    top: 33px;
    left: 96px;
}
#A347 {
    top: 47px;
    left: 96px;
}
#A348 {
    top: 63px;
    left: 96px;
}
#A349 {
    top: 79px;
    left: 96px;
}
#A350 {
    top: 94px;
    left: 96px;
}
#A351 {
    top: 109px;
    left: 19px;
}
#A352 {
    top: 109px;
    left: 80px;
}
#A353 {
    top: 94px;
    left: 34px;
}
#A354 {
    top: 94px;
    left: 65px;
}

#grid24 {
    width: 130px;
    height: 130px;
    top: 315px;
    left: 1065px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab111 {
    top: 1px;
    left: 1px;
}
#Ab112 {
    top: 109px;
    left: 1px;
}
#Ab113 {
    top: 1px;
    left: 95px;
}
#Ab114 {
    top: 109px;
    left: 95px;
}
#A355 {
    top: 33px;
    left: 19px;
}
#A356 {
    top: 94px;
    left: 19px;
}
#A357 {
    top: 33px;
    left: 80px;
}
#A358 {
    top: 94px;
    left: 80px;
}
#A359 {
    top: 47px;
    left: 34px;
}
#A360 {
    top: 79px;
    left: 34px;
}
#A361 {
    top: 47px;
    left: 65px;
}
#A362 {
    top: 79px;
    left: 65px;
}
#A363 {
    top: 63px;
    left: 50px;
}

#grid25 {
    width: 130px;
    height: 130px;
    top: 465px;
    left: 15px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab115 {
    top: 1px;
    left: 1px;
}
#Ab116 {
    top: 47px;
    left: 48px;
}
#Ab117 {
    top: 1px;
    left: 95px;
}
#Ab118 {
    top: 109px;
    left: 48px;
}
#A364 {
    top: 17px;
    left: 20px;
}
#A365 {
    top: 33px;
    left: 34px;
}
#A366 {
    top: 33px;
    left: 65px;
}
#A367 {
    top: 17px;
    left: 80px;
}
#A368 {
    top: 79px;
    left: 50px;
}
#A369 {
    top: 94px;
    left: 50px;
}

#grid26 {
    width: 130px;
    height: 130px;
    top: 465px;
    left: 165px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab119 {
    top: 1px;
    left: 1px;
}
#Ab120 {
    top: 1px;
    left: 95px;
}
#Ab121 {
    top: 109px;
    left: 1px;
}
#Ab122 {
    top: 109px;
    left: 95px;
}
#A370 {
    top: 1px;
    left: 20px;
}
#A371 {
    top: 1px;
    left: 34px;
}
#A372 {
    top: 1px;
    left: 50px;
}
#A373 {
    top: 1px;
    left: 65px;
}
#A374 {
    top: 1px;
    left: 80px;
}
#A375 {
    top: 125px;
    left: 20px;
}
#A376 {
    top: 125px;
    left: 35px;
}
#A377 {
    top: 125px;
    left: 50px;
}
#A378 {
    top: 125px;
    left: 65px;
}
#A379 {
    top: 125px;
    left: 80px;
}
#A380 {
    top: 94px;
    left: 19px;
}
#A381 {
    top: 33px;
    left: 80px;
}
#A382 {
    top: 79px;
    left: 34px;
}
#A383 {
    top: 47px;
    left: 65px;
}
#A384 {
    top: 63px;
    left: 50px;
}

#grid27 {
    width: 130px;
    height: 130px;
    top: 465px;
    left: 315px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab123 {
    top: 1px;
    left: 16px;
}
#Ab124 {
    top: 109px;
    left: 95px;
}
#A385 {
    top: 33px;
    left: 3px;
}
#A386 {
    top: 47px;
    left: 3px;
}
#A387 {
    top: 63px;
    left: 3px;
}
#A388 {
    top: 79px;
    left: 3px;
}
#A389 {
    top: 94px;
    left: 3px;
}
#A390 {
    top: 33px;
    left: 96px;
}
#A391 {
    top: 47px;
    left: 96px;
}
#A392 {
    top: 63px;
    left: 96px;
}
#A393 {
    top: 79px;
    left: 96px;
}
#A394 {
    top: 94px;
    left: 96px;
}
#A395 {
    top: 94px;
    left: 3px;
}
#A396 {
    top: 125px;
    left: 20px;
}
#A397 {
    top: 125px;
    left: 35px;
}
#A398 {
    top: 125px;
    left: 50px;
}
#A399 {
    top: 125px;
    left: 65px;
}
#A400 {
    top: 125px;
    left: 80px;
}
#A401 {
    top: 109px;
    left: 3px;
}
#A402 {
    top: 17px;
    left: 96px;
}
#A403 {
    top: 1px;
    left: 34px;
}
#A404 {
    top: 1px;
    left: 50px;
}
#A405 {
    top: 1px;
    left: 65px;
}
#A406 {
    top: 1px;
    left: 80px;
}
#A407 {
    top: 33px;
    left: 19px;
}
#A408 {
    top: 47px;
    left: 35px;
}
#A409 {
    top: 63px;
    left: 50px;
}
#A410 {
    top: 79px;
    left: 65px;
}
#A411 {
    top: 94px;
    left: 80px;
}

#grid28 {
    width: 130px;
    height: 130px;
    top: 465px;
    left: 465px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab125 {
    top: 1px;
    left: 48px;
}
#Ab126 {
    top: 109px;
    left: 48px;
}
#Ab127 {
    top: 17px;
    left: 1px;
}
#A412 {
    top: 33px;
    left: 50px;
}
#A413 {
    top: 47px;
    left: 50px;
}
#A414 {
    top: 63px;
    left: 50px;
}
#A415 {
    top: 79px;
    left: 50px;
}
#A416 {
    top: 94px;
    left: 50px;
}
#A417 {
    top: 1px;
    left: 34px;
}
#A418 {
    top: 17px;
    left: 19px;
}

#grid29 {
    width: 130px;
    height: 130px;
    top: 465px;
    left: 615px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab128 {
    top: 17px;
    left: 1px;
}
#Ab129 {
    top: 109px;
    left: 1px;
}
#Ab130 {
    top: 109px;
    left: 95px;
}
#A419 {
    top: 1px;
    left: 20px;
}
#A420 {
    top: 1px;
    left: 34px;
}
#A421 {
    top: 1px;
    left: 50px;
}
#A422 {
    top: 1px;
    left: 65px;
}
#A423 {
    top: 125px;
    left: 20px;
}
#A424 {
    top: 125px;
    left: 35px;
}
#A425 {
    top: 125px;
    left: 50px;
}
#A426 {
    top: 125px;
    left: 65px;
}
#A427 {
    top: 125px;
    left: 80px;
}
#A428 {
    top: 109px;
    left: 19px;
}
#A429 {
    top: 94px;
    left: 34px;
}
#A430 {
    top: 79px;
    left: 50px;
}
#A431 {
    top: 63px;
    left: 65px;
}
#A432 {
    top: 63px;
    left: 80px;
}
#A433 {
    top: 33px;
    left: 96px;
}
#A434 {
    top: 47px;
    left: 96px;
}
#A435 {
    top: 17px;
    left: 80px;
}

#grid30 {
    width: 130px;
    height: 130px;
    top: 465px;
    left: 765px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab131 {
    top: 17px;
    left: 1px;
}
#Ab132 {
    top: 47px;
    left: 48px;
}
#Ab133 {
    top: 93px;
    left: 1px;
}
#A436 {
    top: 1px;
    left: 20px;
}
#A437 {
    top: 1px;
    left: 34px;
}
#A438 {
    top: 1px;
    left: 50px;
}
#A439 {
    top: 1px;
    left: 65px;
}
#A440 {
    top: 63px;
    left: 65px;
}
#A441 {
    top: 63px;
    left: 80px;
}
#A442 {
    top: 33px;
    left: 96px;
}
#A443 {
    top: 47px;
    left: 96px;
}
#A444 {
    top: 17px;
    left: 80px;
}
#A445 {
    top: 79px;
    left: 96px;
}
#A446 {
    top: 94px;
    left: 96px;
}
#A447 {
    top: 109px;
    left: 80px;
}
#A448 {
    top: 125px;
    left: 20px;
}
#A449 {
    top: 125px;
    left: 34px;
}
#A450 {
    top: 125px;
    left: 50px;
}
#A451 {
    top: 125px;
    left: 65px;
}

#grid31 {
    width: 130px;
    height: 130px;
    top: 465px;
    left: 915px;
    position: absolute;
    /*background-image: url("https://imgur.com/bUKTTSv.jpg"); 
    background-size: 100%;*/
}
#Ab134 {
    top: 17px;
    left: 95px;
}
#Ab135 {
    top: 47px;
    left: 48px;
}
#Ab136 {
    top: 93px;
    left: 95px;
}
#A452 {
    top: 1px;
    left: 80px;
}
#A453 {
    top: 1px;
    left: 34px;
}
#A454 {
    top: 1px;
    left: 50px;
}
#A455 {
    top: 1px;
    left: 65px;
}
#A456 {
    top: 63px;
    left: 34px;
}
#A457 {
    top: 63px;
    left: 19px;
}
#A458 {
    top: 33px;
    left: 3px;
}
#A459 {
    top: 47px;
    left: 3px;
}
#A460 {
    top: 17px;
    left: 19px;
}
#A461 {
    top: 79px;
    left: 3px;
}
#A462 {
    top: 94px;
    left: 3px;
}
#A463 {
    top: 109px;
    left: 19px;
}
#A464 {
    top: 125px;
    left: 80px;
}
#A465 {
    top: 125px;
    left: 34px;
}
#A466 {
    top: 125px;
    left: 50px;
}
#A467 {
    top: 125px;
    left: 65px;
}



#grid32 {
    width: 130px;
    height: 130px;
    left: 45.5%;
    padding-bottom: 25px;
    position: absolute;
}
#grid33 {
    width: 130px;
    height: 130px;
    left: 46.5%;
    padding-bottom: 25px;
    position: absolute;
   }
#grid34 {
    width: 130px;
    height: 130px;
    left: 47.5%;
    padding-bottom: 25px;
    position: absolute;
   }   




#grid35 {
    width: 130px;
    height: 130px;
    top: 950px;
    left: 125px;
    background-color: none;
    position: absolute;
   }
#grid36 {
    width: 130px;
    height: 130px;
    top: 950px;
    left: 425px;
    background-color: none;
    position: absolute;
   }     
#grid37 {
    width: 130px;
    height: 130px;
    top: 950px;
    left: 700px;
    background-color: none;
    position: absolute;
   }
#grid38 {
    width: 130px;
    height: 130px;
    top: 950px;
    left: 1025px;
    background-color: none;
    position: absolute;
   }      



#grid39 {
    width: 130px;
    height: 130px;
    top: 960px;
    left: 55px;
    background-color: none;
    position: absolute;
   }     
#grid40 {
    width: 130px;
    height: 130px;
    top: 960px;
    left: 320px;
    background-color: none;
    position: absolute;
   }    
#grid41 {
    width: 130px;
    height: 130px;
    top: 960px;
    left: 542px;
    background-color: none;
    position: absolute;
   }   
#grid42 {
    width: 130px;
    height: 130px;
    top: 960px;
    left: 855px;
    background-color: none;
    position: absolute;
   }      

#grid43 {
    width: 130px;
    height: 130px;
    top: 960px;
    left: 1100px;
    background-color: none;
    position: absolute;
   }  

#grid44 {
    width: 130px;
    height: 130px;
    top: 960px;
    left: 550px;
    background-color: none;
    position: absolute;
   }  




#grid45 {
    width: 130px;
    height: 130px;
    top: 75px;
    left: 375px;
    background-color: none;
    position: absolute;
   }    
 #grid46 {
    width: 130px;
    height: 130px;
    top: 75px;
    left: 550px;
    background-color: none;
    position: absolute;
   } 
#grid47 {
    width: 130px;
    height: 130px;
    top: 75px;
    left: 725px;
    background-color: none;
    position: absolute;
   }    
#grid48 {
    width: 130px;
    height: 130px;
    top: 75px;
    left: 900px;
    background-color: none;
    position: absolute;
   }   
#grid49 {
    width: 130px;
    height: 130px;
    top: 75px;
    left: 625px;
    background-color: none;
    position: absolute;
   }
#grid50 {
    width: 130px;
    height: 130px;
    top: 75px;
    left: 325px;
    background-color: none;
    position: absolute;
   }
#grid51 {
    width: 130px;
    height: 130px;
    top: 75px;
    left: 475px;
    background-color: none;
    position: absolute;
   }
#grid52 {
    width: 130px;
    height: 130px;
    top: 75px;
    left: 625px;
    background-color: none;
    position: absolute;
   }  
#grid53 {
    width: 130px;
    height: 130px;
    top: 75px;
    left: 800px;
    background-color: none;
    position: absolute;
   }  
#grid54 {
    width: 130px;
    height: 130px;
    top: 75px;
    left: 940px;
    background-color: none;
    position: absolute;
   }                      