/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: helvetica, arial, sans-serif;
}

/* container */

.container {
	position: relative;
}

/* items */

.item {
	height: 300px;
	width: 300px;
	background: blue;
	color: yellow;

	margin: 10px;

	/* comment out 'float: left;' to have items stack in a single column */
	float: left; 

	/* uncomment this to get CSS transitions (conflicts with jQuery) */
	 transition: all 500ms ease; */
}

/* example buttons */

#button-1:hover {
	transform: rotate(90deg) scale(1.5);
	opacity: .3;
}

#button-1:active {
	background: pink;
	opacity: 1;
}

/* example buttons */

#button-2::after {
	content: 'this is added after the content inside the button';
	color: white;
}


#button-2:hover::after {
	content: 'this text changes on hover';
	color: red;
}

#button-4 {
	background: red;
}

#button-4:hover {
	background: grey;
}

#button-4:active {
	background: yellow;
	transform: rotateZ(45deg) scale(.5);
	border-radius: 300px;
}

#button-6:hover {
	background-image: url("https://www.writingforums.org/data/photos/l/3/3555-1427429292-4732daf8efc347a93d496f1e30d6eed9.gif");
	background-repeat: repeat-y;
}