/* reset padding and margins */

* {
	margin-left: 10px;
	padding-right:10px;
	cursor: pointer;
}

body {
	font-family: helvetica, arial, sans-serif;
}


/* container */

.container {
	position: relative;
	  }

/* items */

.item {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background: black;

	margin: 10px;

	/* comment out 'float: left;' to have items stack in a single column */
	float: left;

	/* uncomment this to get CSS transitions (conflicts with jQuery) */
	 transition: all 400ms ease; */
}

/* title */

.title{
	text-align: center;
	font-family: comfortaa;
	font-weight: bold;
	font-size: 68px;
	letter-spacing: 4px;
	padding: 4px;
	margin-top: 24px;
	margin-bottom: 24px;
}

.tooltip {
    display: inherit;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: flex;
    background-color: #e3e7ed;
    color: black;
    opacity: .5;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* example buttons */


#button-1:hover {
    background: #db0a0a;
    width: 150px;
    height: 150px;
    border-radius: 0px;
    position: relative;
    text-align: center;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20deg);
}

#button-1:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    border-radius: 0px;
    background: #db0a0a;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}


#button-2:hover {
    background: #456291;
    width: 150px;
    height: 150px;
    -webkit-animation: alert 2s linear 0s infinite alternate-reverse ;
 animation: alert 2s linear 0s infinite alternate-reverse ;
}

@-webkit-keyframes alert {
  0%{
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
  50%{
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
  }
  100%{
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
}

@keyframes alert {
  0%{
	-ms-transform: translateX(0);
	transform: translateX(0);
  }
  50%{
	-ms-transform: translateX(-10px);
	transform: translateX(-10px);
  }
  100%{
	-ms-transform: translateX(0);
	transform: translateX(0);
  }
}

#button-3:hover {
    background: #3e7f4b;
    height: 500px;
    width: 75px;

}

#button-4:hover {
	background: #65929e;
	border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
	transform: rotate(-45deg) scale(.5);

}

#button-5:hover {
    background: #fcd114;
    transform: scale(5);
}

#button-6:hover {
    opacity: .1;
 
}

#button-7:hover {
    background: #fff189;
     -webkit-animation: jump .5s linear alternate infinite;
 animation: jump .5s linear alternate infinite;
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  40% {
    transform: translate3d(0, 30%, 0) scale3d(.7, 1.5, 1);
  }
  100% {
    transform: translate3d(0, 100%, 0) scale3d(1.5, .7, 1);
  }
}

#button-8:hover {
    background: #87857a;
}

#button-9:hover {
    background: #ffff00;
     -webkit-animation: blink 2s linear 0s infinite normal ;
 animation: blink 2s linear 0s infinite normal ;
}

@-webkit-keyframes blink {
  0%{
	opacity: 1;
  }
  25%{
	opacity: 0;
  }
  50%{
	opacity: 1;
  }
  75%{
	opacity: 0;
  }
  100%{
	opacity: 1;
  }
}

@keyframes blink {
  0%{
	opacity: 1;
  }
  25%{
	opacity: 0;
  }
  50%{
	opacity: 1;
  }
  75%{
	opacity: 0;
  }
  100%{
	opacity: 1;
  }
}


#button-10:hover {
    background: #6de4ed;
      -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

#button-11:hover {
    transform: scale(.09);
}

#button-12:hover {
    background: #fcd114;
    transform: translateY(-15px);
}

#button-13:hover {
    		transform: translateX(-25px);
}

#button-14:hover {
    background: #4d5368;
     -webkit-animation: zoom-in-out 5s linear 0s infinite normal ;
 animation: zoom-in-out 5s linear 0s infinite normal ;
}

@-webkit-keyframes zoom-in-out {
  0%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
}

@keyframes zoom-in-out {
  0%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-ms-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
}

#button-15:hover {
    background: red;
    transform: translateX(1000px);
}

#button-16:hover {
    background: #4c775e;
     -webkit-animation: bounce-out 2s linear 0s 1 normal ;
 animation: bounce-out 2s linear 0s 1 normal ;
}

@-webkit-keyframes bounce-out {
  0%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-webkit-transform: scale(0.90);
	transform: scale(0.90);
  }
  70%{
	opacity: 1;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  }
  100%{
	opacity: 0;
	-webkit-transform: scale(0.3);
	transform: scale(0.3);
  }
}

@keyframes bounce-out {
  0%{
	transform: scale(1);
  }
  50%{
	transform: scale(0.90);
  }
  70%{
	opacity: 1;
	transform: scale(1.1);
  }
  100%{
	opacity: 0;
	transform: scale(0.3);
  }
}

#button-17:hover {
    background: #ff7d0c;
    -webkit-animation: elastic 2s linear 0s 3 normal ;
 animation: elastic 2s linear 0s 3 normal ;
}

@-webkit-keyframes elastic {
  0%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
  30%{
	-webkit-transform: scaleX(1.25) scaleY(0.75);
	transform: scaleX(1.25) scaleY(0.75);
  }
  40%{
	-webkit-transform: scaleX(0.75) scaleY(1.25);
	transform: scaleX(0.75) scaleY(1.25);
  }
  60%{
	-webkit-transform: scaleX(1.15) scaleY(0.85);
	transform: scaleX(1.15) scaleY(0.85);
  }
  100%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
}

@keyframes elastic {
  0%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
  30%{
	-ms-transform: scaleX(1.25) scaleY(0.75);
	transform: scaleX(1.25) scaleY(0.75);
  }
  40%{
	-ms-transform: scaleX(0.75) scaleY(1.25);
	transform: scaleX(0.75) scaleY(1.25);
  }
  60%{
	-ms-transform: scaleX(1.15) scaleY(0.85);
	transform: scaleX(1.15) scaleY(0.85);
  }
  100%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
}

#button-18:hover {
    background: #565038;
    background-image: url('https://68.media.tumblr.com/cb31c5ff843b2ee257815b7506b2bf1a/tumblr_inline_on2czapFA91suwdpa_500.gif');
}

#button-19:hover {
    background: #3d4429;
    transform: translateY(20px);
}

#button-20:hover {
    background: #700202;
     -webkit-animation: shake 3s linear 1s infinite normal ;
 animation: shake 3s linear 1s infinite normal ;
}

@-webkit-keyframes shake {
  0%{
	transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
  }
  2%{
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
  }
  4%{
	transform: rotate(-18deg);
	-webkit-transform: rotate(-18deg);
  }
  6%{
	transform: rotate(18deg);
	-webkit-transform: rotate(18deg);
  }
  8%{
	transform: rotate(-22deg);
	-webkit-transform: rotate(-22deg);
  }
  10%{
	transform: rotate(22deg);
	-webkit-transform: rotate(22deg);
  }
  12%{
	transform: rotate(-18deg);
	-webkit-transform: rotate(-18deg);
  }
  14%{
	transform: rotate(18deg);
	-webkit-transform: rotate(18deg);
  }
  16%{
	transform: rotate(-12deg);
	-webkit-transform: rotate(-12deg);
  }
  18%{
	transform: rotate(-12deg);
	-webkit-transform: rotate(-12deg);
  }
  20%{
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
  }
}

@keyframes shake {
  0%{
	transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
  }
  2%{
	transform: rotate(15deg);
	-ms-transform: rotate(15deg);
  }
  4%{
	transform: rotate(-18deg);
	-ms-transform: rotate(-18deg);
  }
  6%{
	transform: rotate(18deg);
	-ms-transform: rotate(18deg);
  }
  8%{
	transform: rotate(-22deg);
	-ms-transform: rotate(-22deg);
  }
  10%{
	transform: rotate(22deg);
	-ms-transform: rotate(22deg);
  }
  12%{
	transform: rotate(-18deg);
	-ms-transform: rotate(-18deg);
  }
  14%{
	transform: rotate(18deg);
	-ms-transform: rotate(-18deg);
  }
  16%{
	transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
  }
  18%{
	transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
  }
  20%{
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
  }
}

#button-21:hover {
    background: white;
    box-shadow: 0 5px 15px yellow;
}

#button-22:hover {
    background: #0c7509;
    transform: translateX(180px);
}

#button-23:hover {
    background: #ad0000;
    transform: skewX(20deg);
     -webkit-animation: alert 2s linear 0s infinite normal ;
 animation: alert 2s linear 0s infinite normal ;
}

@-webkit-keyframes alert {
  0%{
	-webkit-transform: translateX(0);
	transform: translateX(0);
  }
  4%{
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
  }
  8%{
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
  }
  20%{
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
  }
}

@keyframes alert {
  0%{
	-ms-transform: translateX(0);
	transform: translateX(0);
  }
  4%{
	-ms-transform: translateX(-10px);
	transform: translateX(-10px);
  }
  8%{
	-ms-transform: translateX(10px);
	transform: translateX(10px);
  }
  20%{
	-ms-transform: translateX(-10px);
	transform: translateX(-10px);
  }
}

#button-24:hover {
    height: 50px;
    transform: translateY(50px);
    opacity: .5;
}

#button-25:hover {
    background: #fcd114;
    width: 50px;
}

#button-26:hover {
    background: #f6ffa5;
    -webkit-animation: bounce-in 1s ease 2s 1 normal ;
 animation: bounce-in 1s ease 2s 1 normal ;
}

@-webkit-keyframes bounce-in {
  0%{
	opacity: 0;
	-webkit-transform: scale(.3);
	transform: scale(.3);
  }
  50%{
	opacity: 1;
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
  }
  70%{
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
  }
  100%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
}

@keyframes bounce-in {
  0%{
	opacity: 0;
	transform: scale(.3);
  }
  50%{
	opacity: 1;
	transform: scale(1.0);
  }
  70%{
	transform: scale(0.9);
  }
  100%{
	transform: scale(1);
  }
}

#button-27:hover {
    background: #545470;
    transform: scale(.5);
    margin: 0px;
    padding: 0px;
}

#button-28:hover {
    background: #194922;
    transform: scale(.2);
    -webkit-animation: shake 3s linear 1s infinite normal ;
 animation: shake 3s linear 1s infinite normal ;
}

@-webkit-keyframes shake {
  0%{
	transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
  }
  2%{
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
  }
  4%{
	transform: rotate(-18deg);
	-webkit-transform: rotate(-18deg);
  }
  6%{
	transform: rotate(18deg);
	-webkit-transform: rotate(18deg);
  }
  8%{
	transform: rotate(-22deg);
	-webkit-transform: rotate(-22deg);
  }
  10%{
	transform: rotate(22deg);
	-webkit-transform: rotate(22deg);
  }
  12%{
	transform: rotate(-18deg);
	-webkit-transform: rotate(-18deg);
  }
  14%{
	transform: rotate(18deg);
	-webkit-transform: rotate(18deg);
  }
  16%{
	transform: rotate(-12deg);
	-webkit-transform: rotate(-12deg);
  }
  18%{
	transform: rotate(-12deg);
	-webkit-transform: rotate(-12deg);
  }
  20%{
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
  }
}

@keyframes shake {
  0%{
	transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
  }
  2%{
	transform: rotate(15deg);
	-ms-transform: rotate(15deg);
  }
  4%{
	transform: rotate(-18deg);
	-ms-transform: rotate(-18deg);
  }
  6%{
	transform: rotate(18deg);
	-ms-transform: rotate(18deg);
  }
  8%{
	transform: rotate(-22deg);
	-ms-transform: rotate(-22deg);
  }
  10%{
	transform: rotate(22deg);
	-ms-transform: rotate(22deg);
  }
  12%{
	transform: rotate(-18deg);
	-ms-transform: rotate(-18deg);
  }
  14%{
	transform: rotate(18deg);
	-ms-transform: rotate(-18deg);
  }
  16%{
	transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
  }
  18%{
	transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
  }
  20%{
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
  }
}


#button-29:hover {
    background: red;
     -webkit-animation: zoom-in-out 2s linear 0s infinite normal ;
 animation: zoom-in-out 2s linear 0s infinite normal ;
}

@-webkit-keyframes zoom-in-out {
  0%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
}

@keyframes zoom-in-out {
  0%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-ms-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
}

#button-30:hover + #button-31{
   background: white;
}

#button-31:hover {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

#button-32:hover {
   position: relative;
  width: 150px;
  height: 150px;
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 50%;
  background-color: #e84c3d;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}


#button-33:hover {
   animation: colorchange 5s;
      -webkit-animation: colorchange 5s;
    }

    @keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }

#button-34:hover {
 border: 3px dotted #3a7999;
	color: #3a7999;
	background: rgba(0,0,0,0);
	position: inherit;
}

#button-35:hover {
   background: white;
}

#button-36:hover {
   background: white;
}

#button-37:hover {
   background: white;
}

#button-38:hover {
   background: white;
}

#button-39:hover {
   background: white;
}

#button-40:hover {
   background: white;
}

#button-41:hover {
   background: white;
}

#button-42:hover {
   background: white;
}

#button-43:hover {
   background: white;
}

#button-44:hover {
   background: white;
}

#button-45:hover {
   background: white;
}

#button-46:hover {
	background-color: red;
	margin: -50px;
}

#button-47:hover {
   cursor: none;
}

#button-48 {
    position: relative;

}

#button-49:hover {
    background: white;
    border: 5px solid #d34c1b;
}


#button-50:hover {
   -webkit-animation: flip 3s linear 0s infinite normal ;
 animation: flip 3s linear 0s infinite normal ;
}

@-webkit-keyframes flip {
  0%{
	-webkit-transform: translateY(0);
	transform: rotateY(0deg);
  }
  50%{
	-webkit-transform: translateY(180);
	transform: rotateY(180deg);
  }
  100%{
	-webkit-transform: translateY(0);
	transform: rotateY(0deg);
  }
}

@keyframes flip {
  0%{
	transform: rotateY(0deg);
  }
  50%{
	transform: rotateY(180deg);
  }
  100%{
	transform: rotateY(0deg);
  }
}